xml00/alumno.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Alumno">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Nombre" type="xs:string"></xs:element>
            </xs:sequence>
            <xs:attribute name ="Correo" type="xs:string"></xs:attribute>
        </xs:complexType>   
    </xs:element>
</xs:schema>